@model SportFormModel

@{
    ViewBag.Title = "Add Sport";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Title</label>
                <input asp-for="Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Duration" class="form-label">Duration</label>
                <input asp-for="Duration" class="form-control" ariarequired="true" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TimesPerWeek" class="form-label">Times Per Week</label>
                <input asp-for="TimesPerWeek" class="form-control" ariarequired="true" />
                <span asp-validation-for="TimesPerWeek" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
